
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    background-image: url('Untitled design.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    /* padding-bottom: 50px; */
    /* margin-bottom: 20px; */
}
img {
    width: 3%;
    height: 3%;
    top: 10vh;
}


h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}
.opening {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-style: italic;
}
p {
    text-align: center;
}

@keyframes anim {
    from {color: rgb(0, 0, 0);}
    to {color: cyan;}
}
@keyframes asik {
    from {color: rgb(0, 0, 0);}
    to {color: rgb(179, 167, 0);}
}
.masuk  {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(21, 204, 204);
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
a:link {
    text-decoration: none;
  }
    
  a:hover {
    text-decoration: underline;
  }

  #text-center {
      text-align: left;
      font-weight: bold; 
  }

  .intro {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-optical-sizing: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div .box {
    background-color: rgb(214, 208, 208);
    border-radius: 20px;
    width: 50%;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0%;

}

.warna {
    color: rgb(10, 95, 134);
}

.tengah {
    text-align: center;
    align-items: center;
}
#form {
    text-align: center;
}
/* #list {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    max-width: 100px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between; */

/* } */
  
.list-tengah {
    text-align: left;
    align-items: center;
    align-content: center;
    /* padding-left: 10px; */
    padding-right: 200px;
    /* scroll-padding-right: 300px; */
    margin-left: auto;
    margin-right: auto;
    width: 4px;
    max-height: 100px;
    max-width: fit-content;
    overflow: scroll;
}
button {
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(2, 41, 59);
    background-color: #dad603;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #bebb0a}
  
  button:active {
    background-color: #6d6b01;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

footer {
    background-color: #68a8b8;
    color: #3a2d18;
    text-align: center;
    align-content: center;
    
    padding-top: 20px;
    width: auto;
    height: 10%;
    margin: 0;
    bottom: 0;
}

footer h2 {
    margin: 0px;
    padding-bottom: 20px;
    height: 50%;
}

.gbr {
    visibility: hidden;
}
.muncul {
    visibility: visible;
}
#man {
    width: 200px;
    height: 300px;
}

#akhir {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

#result {
    margin-top: 70px;
    margin-left: 0px ;
    margin-right: 0px;
    animation-name: asik;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
